@model Capa_de_Entidades.ClienteE


<div id="dvComprobarCredito">
    <form action="Productos/ComprobarCredito" method="post">
        <p>Añada el número de tarjeta: </p>
        <br />
        <input type="text" id="numTarjeta" name="numTarjeta" value="000000000" />
        <br />
        <button type="submit" class="btn btn-secondary">Guardar</button>
    </form>
</div>